menuconfig LYCHEE_DISPLAY_INIT_CONFIG_SUN4I
	bool "Display Initial Config Select(sun4i)"
	depends on ARCH_SUN4I
	---help---
	default y

choice
	prompt "Select display screen type"
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I
	default LYCHEE_DISPLAY_SINGLE_SCREEN0
	
config LYCHEE_DISPLAY_SINGLE_SCREEN0
	bool "single screen0, use fb0"
	---help---
	default y
	
config LYCHEE_DISPLAY_SINGLE_SCREEN1
	bool "single screen1, use fb0"
	---help---
	default n
	
config LYCHEE_DISPLAY_DUAL_DIFF_SCREEN
	bool "daul different screen, use fb0 and fb1"
	---help---
	default n

config LYCHEE_DISPLAY_DUAL_SAME_SCREEN
	bool "daul same screen, use fb0(up for screen0, down for screen1)"
	---help---
	default n

config LYCHEE_DISPLAY_DUAL_DIFF_SCREEN_SAME_CONTENTS
	bool "daul different screen same content, use fb0"
	---help---
	default n
endchoice


config LYCHEE_DISPLAY_SCREEN0_OUTPUT_TYPE
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && (!LYCHEE_DISPLAY_SINGLE_SCREEN1)
	int "Screen0 output type(0:none 1:lcd 2:tv 3:hdmi 4:vga)"
	---help---
	default 1

config LYCHEE_DISPLAY_SCREEN0_TV_MODE
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && (!LYCHEE_DISPLAY_SINGLE_SCREEN1)
	int "Screen0 tv/hdmi mode(0:480i 1:576i 2:480p 3:576p 4:720p50 5:720p60 6:1080i50 7:1080i60 8:1080p24 9:1080p50 10:1080p60 11:pal 14:ntsc)"
	---help---
	used when screen0 output type is tv or hdmi.
	default 4

config LYCHEE_DISPLAY_SCREEN0_VGA_MODE
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && (!LYCHEE_DISPLAY_SINGLE_SCREEN1)
	int "Screen0 vga mode(0:1680*1050 1:1440*900 2:1360*768 3:1280*1024 4:1024*768 5:800*600 6:640*480 10:1920*1080 11:1280*720)"
	---help---
	used when screen0 output type is vga
	default 4



config LYCHEE_DISPLAY_SCREEN1_OUTPUT_TYPE
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && (!LYCHEE_DISPLAY_SINGLE_SCREEN0) && (!LYCHEE_DISPLAY_DUAL_SAME_SCREEN)
	int "Screen1 output type(0:none 1:lcd 2:tv 3:hdmi 4:vga)"
	---help---
	default 1

config LYCHEE_DISPLAY_SCREEN1_TV_MODE
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && (!LYCHEE_DISPLAY_SINGLE_SCREEN0) && (!LYCHEE_DISPLAY_DUAL_SAME_SCREEN)
	int "Screen1 tv/hdmi mode(0:480i 1:576i 2:480p 3:576p 4:720p50 5:720p60 6:1080i50 7:1080i60 8:1080p24 9:1080p50 10:1080p60 11:pal 14:ntsc)"
	---help---
	used when screen0 output type is tv or hdmi.
	default 4

config LYCHEE_DISPLAY_SCREEN1_VGA_MODE
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && (!LYCHEE_DISPLAY_SINGLE_SCREEN0) && (!LYCHEE_DISPLAY_DUAL_SAME_SCREEN)
	int "Screen1 vga mode(0:1680*1050 1:1440*900 2:1360*768 3:1280*1024 4:1024*768 5:800*600 6:640*480 10:1920*1080 11:1280*720)"
	---help---
	used when screen0 output type is vga.
	default 4



config LYCHEE_DISPLAY_FB0_DOUBLE_BUFFER
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I
	bool "fb0 framebuffer double buffer"
	---help---
	default y
	
config LYCHEE_DISPLAY_FB0_WIDTH
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I
	int "fb0 framebuffer width"
	---help---
	default 800
	
config LYCHEE_DISPLAY_FB0_HEIGHT
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I
	int "fb0 framebuffer height"
	---help---
	default 480

config LYCHEE_DISPLAY_FB0_FORMAT
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I
	int "fb0 framebuffer format(4:RGB655 5:RGB565 6:RGB556 7:ARGB1555 8:RGBA5551 9:RGB888 10:ARGB8888 12:ARGB4444)"
	---help---
	default 10

config LYCHEE_DISPLAY_FB0_PIXEL_SEQUENCE
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I
	int "fb0 framebuffer pixel sequence for ARGB888(0:ARGB 1:BGRA 2:ABGR 3:RGBA)"
	---help---
	default 0



config LYCHEE_DISPLAY_FB1_DOUBLE_BUFFER
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && LYCHEE_DISPLAY_DUAL_DIFF_SCREEN
	bool "fb1 framebuffer double buffer"
	---help---
	default y
	
config LYCHEE_DISPLAY_FB1_WIDTH
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && LYCHEE_DISPLAY_DUAL_DIFF_SCREEN
	int "fb1 framebuffer width"
	---help---
	default 800
	
config LYCHEE_DISPLAY_FB1_HEIGHT
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && LYCHEE_DISPLAY_DUAL_DIFF_SCREEN
	int "fb1 framebuffer height"
	---help---
	default 480

config LYCHEE_DISPLAY_FB1_FORMAT
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && LYCHEE_DISPLAY_DUAL_DIFF_SCREEN
	int "fb1 framebuffer format(4:RGB655 5:RGB565 6:RGB556 7:ARGB1555 8:RGBA5551 9:RGB888 10:ARGB8888 12:ARGB4444)"
	---help---
	default 10

config LYCHEE_DISPLAY_FB1_PIXEL_SEQUENCE
	depends on LYCHEE_DISPLAY_INIT_CONFIG_SUN4I && LYCHEE_DISPLAY_DUAL_DIFF_SCREEN
	int "fb1 pixel sequence for ARGB888(0:ARGB 1:BGRA 2:ABGR 3:RGBA)"
	---help---
	default 0




